{% extends "hub/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card bg-white">
            <div class="card-header bg-dark text-white">
                Login Form
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset>
                        {{ form|crispy }}
                    </fieldset>
                    <button type="submit" class="btn btn-dark">Login</button>
                </form>
                <div class="border-top bg-white mt-3">
                    <small class="text-muted">
                        Don't have an account yet? <a class="ml-2" href="{% url 'register' %}">Sigh up</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}