{% extends "hub/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <div class="card shadow mb-4">
            <div class="card-header py-3 bg-dark text-white">
                <h6 class="m-0 font-weight-bold">Profile</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <img src="{{ user.profile.image.url }}" alt="account-img" class="rounded-circle account-img" width="200px", height="200px">
                    </div>
                    <div class="col-lg-8">
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <p class="text-secondary">Email: {{ user.email }}</p>
                        <p class="text-secondary">Joined: {{ user.date_joined }}</p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset>
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                    </fieldset>
                    <button type="submit" class="btn btn-dark">Update</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
